<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.xd.mapper.XdUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.xd.model.XdUser">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="user_name" property="userName" />
        <result column="avatar_image" property="avatarImage" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="day" property="day" />
        <result column="constellation" property="constellation" />
        <result column="height" property="height" />
        <result column="weight" property="weight" />
        <result column="education" property="education" />
        <result column="school" property="school" />
        <result column="job" property="job" />
        <result column="address" property="address" />
        <result column="hometown" property="hometown" />
        <result column="income" property="income" />
        <result column="marriage" property="marriage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
